:root {
  font-size: 16px;
  font-family: "Open Sans";
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;

}

main {
  margin-left: 5rem;
  overflow: auto;
  height: 99vh;
  max-height: 99vh;
  padding: 20px;
}

.navbar {
  position: fixed;
  background-color: #23232e;
  transition: width 0.5s ease;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: #b6b6b6;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: 0.15s;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: #141418;
  color: #b6b6b6;
}

.nav-link:hover i {
  color: #e25413;
}
.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg,
i {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #ffa77e;
}

.fa-secondary {
  color: #e4672e;
}

.fa-primary,
.fa-secondary {
  transition: 500ms;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: #ececec;
  background: #141418;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: 500ms;
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: 500ms;
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  margin: 0;
  color: #f1592a;
}
