main {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}

table {
    width: 80vw;
}

h1.acesso {
    margin: 20px 0;
}

th {
    color: #f1592a;
    text-align: left;
    padding: 5px;
}

td {
    padding: 3px;
}