<body>
  <nav class="navbar">
    <ul class="navbar-nav">
      <li class="logo">
        <a href="https://www.karoo.com.br/#/" target="blank" class="nav-link">
          <span class="link-text logo-text">Karoo</span>
          <svg viewBox="0 0 448 512">
            <g class="fa-group">
              <path
                fill="currentColor"
                d="M224 273L88.37 409a23.78 23.78 0 0 1-33.8 0L32 386.36a23.94 23.94 0 0 1 0-33.89l96.13-96.37L32 159.73a23.94 23.94 0 0 1 0-33.89l22.44-22.79a23.78 23.78 0 0 1 33.8 0L223.88 239a23.94 23.94 0 0 1 .1 34z"
                class="fa-secondary"
              ></path>
              <path
                fill="currentColor"
                d="M415.89 273L280.34 409a23.77 23.77 0 0 1-33.79 0L224 386.26a23.94 23.94 0 0 1 0-33.89L320.11 256l-96-96.47a23.94 23.94 0 0 1 0-33.89l22.52-22.59a23.77 23.77 0 0 1 33.79 0L416 239a24 24 0 0 1-.11 34z"
                class="fa-primary"
              ></path>
            </g>
          </svg>
        </a>
      </li>
      <li class="nav-item">
        <a href="atendimento" class="nav-link">
          <i class="far fa-comment"></i>
          <span class="link-text">Atendimento</span>
        </a>
      </li>

      <li class="nav-item">
        <a href="func-destaques" class="nav-link">
          <i class="far fa-edit"></i>
          <span class="link-text">Destaques</span>
        </a>
      </li>

      <li class="nav-item">
        <a href="func-acesso" class="nav-link">
          <i class="far fa-user"></i>
          <span class="link-text">Acesso</span>
        </a>
      </li>

      <li class="nav-item" id="themeButton">
        <a href="func-config" class="nav-link">
          <i class="fas fa-cogs"></i>
          <span class="link-text">Configurações</span>
        </a>
      </li>
    </ul>
  </nav>

  <main>
    <table style="width: 100%">
      <tr>
        <th>id</th>
        <th>nome</th>
        <th>email</th>
        <th></th>
      </tr>
        <tr *ngFor="let funcionario of funcionarios">
          <td>{{ funcionario.id }}</td>
          <td>{{ funcionario.nome }}</td>
          <td>{{ funcionario.email }}</td>
          <td><button>Editar</button><button>Excluir</button></td>
        </tr>
    </table>
  </main>
</body>