<body>
  <app-sidenav></app-sidenav>

  <main class="main-acesso" id="main-acesso">
    <h1 class="acesso">Acesso</h1>
    <table>
      <button (click)="openDialogFunc()">Create</button>
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Email</th>
        <th></th>
      </tr>
      <tr *ngFor="let funcionario of funcionarios">
        <td>{{ funcionario.id }}</td>
        <td>{{ funcionario.nome }}</td>
        <td>{{ funcionario.email }}</td>
        <td>
          <button (click)="openDialog(funcionario.id)">Editar</button>
          <button (click)="removeFunc(funcionario.id)">Excluir</button>
        </td>
      </tr>
    </table>
  </main>
</body>