main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

table {
    width: 80vw;
}

h1.acesso {
    margin: 20px 0;
}

th {
    color: #f1592a;
    text-align: left;
    padding: 5px;
}

td {
    padding: 3px;
    border-bottom: 1px solid orange;
    border-radius: 3px;
}

td:last-child {
    display: flex;
    justify-content: flex-end;
}

button.newFuncCreate {
  border: 0;
  background-color: #08c96f;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  outline: none;
}

button.newFuncCancel {
  border: 0;
  background-color: #c90808;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  outline: none;
  margin: 2px;
}

button.funcUpdate {
  border: 0;
  background-color: #c98c08;
  padding: 10.3px;
  color: #fff;
  border-radius: 5px;
  outline: none;
  margin: 2px;
}

button.newFuncCreate:hover,
button.newFuncCancel:hover,
button.funcUpdate:hover {
  opacity: 0.8;
}
