<div class="dialog-atend">
  <h1>Atendimento</h1>
  <h4><strong>Codigo cliente: </strong>{{ data.assunto.codigoCliente }}</h4>
  <h4><strong>Email: </strong>{{ data.assunto.email }}</h4>
  <h4><strong>Nome: </strong>{{ data.assunto.nomeCliente }}</h4>
  <h4><strong>Conteudo: </strong>{{ data.assunto.conteudo }}</h4>
  <h4><strong>Status: </strong>{{ data.assunto.atendido ? "Atendido" : "Pendente" }}</h4>
  <div *ngIf="data.assunto.atendido == false">
    <button (click)="close()">Cancelar</button>
    <button (click)="updateAtendimento()">Atender</button>
  </div>
  <div *ngIf="data.assunto.atendido == true">
    <button (click)="close()">Cancelar</button>
  </div>
</div>
