main.atendimento {
    background: #f5f5f5;
    height: 100vh;
    display: grid;
    grid-template-rows: 9vh 5vh 40vh 4vh 41vh;
    
}

div.assunto {
    width: 70vw;
    height: 5vh;
    background: rgb(255, 217, 173);
    padding: 5px;
    margin: 6px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    transition: .3s;
    cursor: pointer;
}

strong {
    transition: .3s;
}

div.assunto:hover {
    background-color: #ff6e02;
    box-shadow: 1px 2px 4px #fffcce;
    color: #fff;
}

div.assunto:hover strong {
    color: cornsilk;
    font-weight: 500;
}

div.lista {
    overflow: auto;
    max-height: 39vh;

}