<body>
  <app-sidenav></app-sidenav>

  <main class="atendimento">
    <h1>Atendimento</h1>
    <h3 class="atendimento">Pendentes</h3>
    <div class="lista">
      <div *ngFor="let assunto of pendentes">
        <div class="assunto" (click)="open(assunto.codigoCliente)">
          <span><strong>Email:</strong> {{ assunto.email }}</span>
          <span><strong>Conteudo:</strong> {{ assunto.conteudo }}</span>
        </div>
      </div>
    </div>
    <h3 class="atendimento">Concluídos</h3>
    <div class="lista">
      <div *ngFor="let assunto of atendidos">
        <div class="assunto" (click)="open(assunto.codigoCliente)">
          <span><strong>Email:</strong> {{ assunto.email }}</span>
          <span><strong>Conteudo:</strong> {{ assunto.conteudo }}</span>
        </div>
      </div>
    </div>
  </main>
</body>
