main.atendimento {
    background: #f5f5f5;
    height: 100vh;
    display: grid;
    grid-template-rows: 9vh 5vh 40vh 5vh 40vh;
    
}

div.assunto {
    width: 70vw;
    height: 5vh;
    background: rgb(255, 217, 173);
    padding: 5px;
    margin: 6px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

div.lista {
    max-height: 40vh;
    overflow: auto;

}