<div class="container">
    <div class="header">
        <img src="https://www.karoo.com.br/img/base_conhecimento/bemvindo_only.png" />
        <input placeholder="Termo a ser pesquisado" [(ngModel)]="filter" />
        <button routerLink='/login' >Funcinario</button>
    </div>

    <div class="body">

        <h2>Artigos em destaque</h2>
        <div class="lista-container">
            <div class="lista" *ngIf="destaques.length == 0">Nao há informações adicionais</div>
            <div *ngFor="let destaque of destaques | filter:filter; let i = index" class="lista">
                <a href="{{ destaque.link }}" class="lista-item" target="blank">{{ destaque.descricao }}</a>
            </div>
        </div>

    </div>
    <a class="btn-go" routerLink='/form'>
        Entrar no supote
    </a>
    <div class="footer">
        <a href="https://www.karoo.com.br/" target="blank"> Karoo Chat </a> - Alterdata Software - Dudu.dsn.pack
    </div>
</div>