div.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: "20vh 50vh 2ovh 10vh";
    background: whitesmoke;
}

div.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 1vh 0;
}

div.header img {
    width: 13vw;
}

div.header input {
    width: 33vw;
    height: 5vh;
    margin: 0 1.4vw;
    outline: none;
    border-radius: 4px;
    border: 1px solid #CCCCCC;
    padding-left: 9px;
    color: #5F5F5F;
}

div.header input:hover {
    border: 1px solid #ff822a;
}

div.header input:focus {
    border: 1px solid #ff822a;
}

div.header button {
    border: 0;
    padding: 7.5px;
    outline: none;
    width: 8vw;
    height: 5.6vh;
    color: #5F5F5F;
    border-radius: 5px;
    background: white;
    font-weight: bold;
    border-bottom: 1px solid #eb7a51;
    cursor: pointer;
    transition: .4s;
}

div.header button:hover {
    font-weight: bold;
    background: #FF4500;
    color: #fff;
    border: 0;
}

div.body {
    display: flex;
    flex-direction: column;
    margin: 12px auto;
    width: 80vw;
    height: 55vh;
    padding: 20px;
    background: white;
    border-radius: 12px;
}

div.body h2 {
    color: #FF4500;
    margin-right: auto;
}

div.lista {
    padding: 12px;
    transition: .2s;
    border-radius: 3px;
    width: 76vw;
    border-bottom: .7px solid #CCCCCC;
    margin: 5px auto;
    cursor: pointer;
}

div.lista-container {
    max-height: 55vh;
    overflow: auto;
}

div.body div.lista:hover {
    background-color: rgb(245, 245, 245);
}

div.body a {
    text-decoration: none;
    color: #5188CF;
    padding: 12px;
}

a.btn-go {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    width: 20vw;
    height: 10vh;
    outline: none;
    color: white;
    background: #FF4500;
    border-radius: 12px;
    transition: .2s;
    margin: auto;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

a.btn-go:hover {
    background: #d44f1a;
}

div.footer {
    display: flex;
    padding: 15px;
    margin-left: auto;
    /* justify-content: flex-end; */
}

div.footer a {
    text-decoration: none;
}

div.footer a:visited {
    color: #3e2c35;
}