<body>
  <app-sidenav></app-sidenav>

  <main>
    <h1 class="destaque">Artigos em destaque</h1>
  <button class="{{ !create ? 'newDestCreate' : 'newDestCancel' }}" (click)="create = !create">{{ !create ? "Create" : "Cancel"}}</button>
    <div class="lista-container">
      <div class="newD" *ngIf="create">
          <span><strong>Descrição</strong></span>
          <span><strong>link</strong></span>
          <input type="text" placeholder="Ajuda no cors" [(ngModel)]="destaque.descricao">
          <input type="text" placeholder="https://www.exemplo.com" [(ngModel)]="destaque.link">
          <br>
          <button (click)="createDest()">Criar</button>
      </div>
      <div class="lista" *ngIf="destaques.length == 0">
        Nao há informações adicionais
      </div>
      <div *ngFor="let destaque of destaques" class="lista">
        <div class="destaque">
          <span>Descrição: {{ destaque.descricao }}</span>
          <div>
            <button class="destUpdate" (click)="openDialog(destaque.id)">Editar</button>
            <button class="newDestCancel" (click)="delete(destaque.id)">Apagar</button>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
