<body>
  <app-sidenav></app-sidenav>

  <main>
    <h1 class="destaque">Artigos em destaque</h1>
    <button (click)="create = !create">Create</button>
    <div *ngIf="create === true">
        <span>Descrição</span>
        <input type="text" placeholder="Ajuda no cors" [(ngModel)]="destaque.descricao">
        <span>Link</span>
        <input type="text" placeholder="Ajuda no cors" [(ngModel)]="destaque.link">
        <button (click)="createDest()">Criar</button>
    </div>
    <div class="lista-container">
      <div class="lista" *ngIf="destaques.length == 0">
        Nao há informações adicionais
      </div>
      <div *ngFor="let destaque of destaques" class="lista">
        <div class="destaque">
          <span>Descrição: {{ destaque.descricao }}</span>
          <div>
            <button (click)="openDialog(destaque.id)">Editar</button>
            <button (click)="delete(destaque.id)">Apagar</button>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
