h1.destaque {
    margin: 3vh 0;
    padding: 5px;
}

div.destaque {
    background-color: #ff6600bb;
    margin: 5px 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    color: cornsilk;
}