div.header-component {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 5vw;

}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  margin: 0;
  color: #f1592a;
}