div.create-func-dialog {
    width: 40vw;
    height: 42vh;
  }
  h2.mat-dialog-title {
    color: #f1592a;
  }
  
  mat-dialog-content {
    display: flex;
    flex-direction: column;
  }
  
  mat-dialog-content span,
  input {
    margin: 2px 0;
    outline: none;
  }
  
  mat-dialog-content input {
    border: 0;
    border-bottom: 1px solid #f1592a;
    padding: 4px;
}

  button.newFuncCreate {
    border: 0;
    background-color: #08c96f;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    outline: none;
  }
  
  button.newFuncCancel {
    border: 0;
    background-color: #c90808;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    outline: none;
    margin: 2px;
  }

  
  button.newFuncCreate:hover,
  button.newFuncCancel:hover {
    opacity: 0.8;
  }
  