div.container {
    padding: 30px;
    background: whitesmoke;
    display: grid;
    grid-template-rows: 22vh 60vh 18vh;
}

h1 {
    margin: 0;
}

div.container-message {
    border: 1px solid black;
    padding: 9px;
}

div.chat {
    margin: 10px 0;
    max-height: 60vh;
    overflow: auto;
}

div.message {
    margin: 8px 0;
    width: 50vw;
    padding: 21px;
    border-radius: 3px;
    background: #e4e8ff;

}

div.message strong.message-user {
    color: #485d5e;
    display: flex;
    flex-direction: row;
}

div.message span.message-content {
    color: rgb(0, 0, 0);
}

input.input-message, button {
    outline: none;
}

input.input-message {
    width: 80vw;
    height: 3vh;
}

button {
    height: 4vh;
}

