<div class="Container">
    <div class="header">
        <img src="https://www.karoo.com.br/img/base_conhecimento/bemvindo_only.png" />
        <input placeholder="Termo a ser pesquisado" />
        <button>Pesquisar</button>
    </div>

    <body>
        <h2>Artigos em destaque</h2>

        <div class="lista">
            <!-- {lista.map(item => {
            return (
            <div class="listaitem"> <a href="#"> {item} </a> </ListaItem>
            )
            })} -->
        </div>

    </body>
    <button class="btn-go">
        <!-- <RiWechatLine size={40} /> -->
        Entrar no chat
    </button>
    <footer>
        <a href="https://www.karoo.com.br/"> Karoo Chat </a> - Alterdata Software - Dudu.dsn.pack
    </footer>
</div>