<div class="dialog-destque">
  <h2 mat-dialog-title>Editar</h2>

  <mat-dialog-content>
    <span>Descricao</span>
    <input type="text" [(ngModel)]="destaque.descricao" />
    <span>Link</span>
    <input type="text" [(ngModel)]="destaque.link" />
  </mat-dialog-content>

  <mat-dialog-actions>
    <div class="buttons">
      <button class="leave" mat-button mat-dialog-close (click)="close()">Cancel</button>
      <button class="save" mat-button (click)="updateDestaque()">Salvar</button>
    </div>
  </mat-dialog-actions>
</div>
